.error {
    border: red 3px solid;
}

.errorMessage {
    color: red;
}

.activeFilter {
    background-color: aqua;
}

.isDone {
    opacity: 0.5;
}

.Button {
    color: aqua;
}

.del {
    flex: 1;
}